{% extends "layout.html" %}

{% block body %}

<h3></h3>
<hr>
<p>
    Herkese merhaba.Ben Hacer Kırışoğlu.Samsun Üniversitesi Yazılım Mühendisliği 4.sınıf öğrencisiyim.Bu sitede izinli olduğunuz veya kendi siteniz üzerinde tarama yapabilir bu şekilde açıklar varsa bu kısımları kapatabilirsiniz. Admin ile iletişime geçtikten sonraki geri dönüş ile birlikte tarama yapmak istediğiniz siteye tarama erişiminiz açılacaktır. İzinli olduğu veya kendi sitesi olduğunun kesinliğini sunamayan kullanıcılara herhangi tarama izni verilmemektedir. Güvenli kalıp güvenle kalmanız dileğiyle. 
</p>
</p>

{% endblock body  %}