{% extends 'layout.html' %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center change-password"
    style="min-height: 100vh; margin-top: 180px; margin-bottom: 90px;">
    <div class="row w-100">
        <div class="col-md-6 offset-md-3">
            <div class="form-container">
                <form method="POST">
                    {% csrf_token %}

                    <!--Mevcut şifre için -->
                    <div class="form-group current-password-group">
                        <label for="current-password" class="mb-0">{{ form.current_password.label }}</label>
                        <input type="password"
                            class="form-control {% if form.current_password.errors %}is-invalid{% endif %}"
                            id="current-password" name="current_password" placeholder="Mevcut şifrenizi girin" required>
                    </div>

                    <!-- yeni şifrer için -->
                    <div class="form-group new-password-group">
                        <label for="new-password" class="mb-0">{{ form.new_password.label }}</label>
                        <input type="password"
                            class="form-control {% if form.new_password.errors %}is-invalid{% endif %}"
                            id="new-password" name="new_password" placeholder="Yeni şifrenizi girin" required>
                    </div>

                    <!-- yenisini tekrar -->
                    <div class="form-group confirm-password-group">
                        <label for="confirm-password" class="mb-0">{{ form.confirm_new_password.label }}</label>
                        <input type="password"
                            class="form-control {% if form.confirm_new_password.errors %}is-invalid{% endif %}"
                            id="confirm-password" name="confirm_new_password" placeholder="Yeni şifrenizi tekrar girin"
                            required>
                    </div>

                    {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="secret-text-center">
                        <button type="button" class="btn btn-link" id="toggle-passwords">
                            Şifreyi Göster
                        </button>
                    </div>

                  
                    <br>
                    <button type="submit" class="btn btn-black w-100">Şifreyi Değiştir</button>
                </form>

               

            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        
        $("#toggle-passwords").click(function () {
            const passwordFields = $("#current-password, #new-password, #confirm-password");
            const isPassword = passwordFields.first().attr("type") === "password";

            if (isPassword) {
               
                passwordFields.attr("type", "text");
            } else {
                
                passwordFields.attr("type", "password");
            }
        });
    });
</script>


<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">



{% endblock %}