{% extends 'layout.html' %}
{% block body %}
<div class="container d-flex justify-content-center align-items-center password_reset_request" style="min-height: 100vh;"
    style="min-height: 100vh;">
    <div class="row w-100">
        <div class="col-md-6 offset-md-3">
            <div class="form-container">
                <h3 class="text-center mb-4" style="margin-top: 50px;">Şifremi Unuttum</h3>
                <form method="POST">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="id_email">E-posta Adresi</label>
                        <input type="email" name="email" id="id_email"
                            class="form-control {% if form.email.errors %}is-invalid{% endif %}"
                            placeholder="E-posta adresinizi girin" required>
                        {% if form.email.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <br>
                    <button type="submit" class="btn btn-black w-100">Şifre Sıfırlama Bağlantısı Gönder</button>
                </form>

                <div class="text-center mt-3">
                    <a href="{% url 'user:login' %}" class="text-muted">Giriş Sayfasına Dön</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}